
TestLighting/bin/Debug/net6.0-windows/Content/Shaders/HOUSE.png
TestLighting/bin/Debug/net6.0-windows/Content/Shaders/HOUSE_NORMAL_MAP.png
TestLighting/bin/Debug/net6.0-windows/Content/Shaders/HOUSE_NORMAL_MAP.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Shaders/Lighting2.3.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Shaders/Lighting3.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Shaders/ROCK_WALL.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Shaders/ROCK_WALL_NORMAL_MAP.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Shaders/ROCKS_NORMAL_MAP.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/cell.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/cell_normal.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/HOUSE.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/HOUSE_NORMALMAP_KRITA.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/HOUSE_NORMALMAP_PS.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/ROCKS.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/ROCKS_NORMALMAP_KRITA.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/ROCKS_NORMALMAP_PS.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/WALL.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/WALL_NORMALMAP_KRITA.xnb
TestLighting/bin/Debug/net6.0-windows/Content/Textures/WALL_NORMALMAP_PS.xnb
TestLighting/Content/bin/Windows/Content/Shaders/HOUSE_NORMAL_MAP.xnb
TestLighting/Content/bin/Windows/Content/Shaders/Lighting2.3.xnb
TestLighting/Content/bin/Windows/Content/Shaders/Lighting3.xnb
TestLighting/Content/bin/Windows/Content/Shaders/ROCK_WALL.xnb
TestLighting/Content/bin/Windows/Content/Shaders/ROCK_WALL_NORMAL_MAP.xnb
TestLighting/Content/bin/Windows/Content/Shaders/ROCKS_NORMAL_MAP.xnb
TestLighting/Content/bin/Windows/Content/Textures/cell.xnb
TestLighting/Content/bin/Windows/Content/Textures/cell_normal.xnb
TestLighting/Content/bin/Windows/Content/Textures/HOUSE.xnb
TestLighting/Content/bin/Windows/Content/Textures/HOUSE_NORMALMAP_KRITA.xnb
TestLighting/Content/bin/Windows/Content/Textures/HOUSE_NORMALMAP_PS.xnb
TestLighting/Content/bin/Windows/Content/Textures/ROCKS.xnb
TestLighting/Content/bin/Windows/Content/Textures/ROCKS_NORMALMAP_KRITA.xnb
TestLighting/Content/bin/Windows/Content/Textures/ROCKS_NORMALMAP_PS.xnb
TestLighting/Content/bin/Windows/Content/Textures/WALL.xnb
TestLighting/Content/bin/Windows/Content/Textures/WALL_NORMALMAP_KRITA.xnb
TestLighting/Content/bin/Windows/Content/Textures/WALL_NORMALMAP_PS.xnb
TestLighting/Content/bin/Windows/Shaders/HOUSE.png
TestLighting/Content/bin/Windows/Shaders/HOUSE_NORMAL_MAP.png
TestLighting/Content/bin/Windows/Textures/cell.xnb
TestLighting/Content/bin/Windows/Textures/cell_normal.xnb
TestLighting/Content/bin/Windows/Textures/HOUSE.xnb
TestLighting/Content/bin/Windows/Textures/HOUSE_NORMALMAP_KRITA.xnb
TestLighting/Content/bin/Windows/Textures/HOUSE_NORMALMAP_PS.xnb
TestLighting/Content/bin/Windows/Textures/ROCKS.xnb
TestLighting/Content/bin/Windows/Textures/ROCKS_NORMALMAP_KRITA.xnb
TestLighting/Content/bin/Windows/Textures/ROCKS_NORMALMAP_PS.xnb
TestLighting/Content/bin/Windows/Textures/WALL.xnb
TestLighting/Content/bin/Windows/Textures/WALL_NORMALMAP_KRITA.xnb
TestLighting/Content/bin/Windows/Textures/WALL_NORMALMAP_PS.xnb
TestLighting/Content/obj/Windows/net6.0-windows/Content/Shaders/HOUSE_NORMAL_MAP.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Shaders/Lighting2.3.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Shaders/Lighting3.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Shaders/ROCK_WALL.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Shaders/ROCK_WALL_NORMAL_MAP.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Shaders/ROCKS_NORMAL_MAP.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/cell.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/cell_normal.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/HOUSE.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/HOUSE_NORMALMAP_KRITA.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/HOUSE_NORMALMAP_PS.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/ROCKS.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/ROCKS_NORMALMAP_KRITA.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/ROCKS_NORMALMAP_PS.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/WALL.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/WALL_NORMALMAP_KRITA.mgcontent
TestLighting/Content/obj/Windows/net6.0-windows/Content/Textures/WALL_NORMALMAP_PS.mgcontent
TestLighting/Content/obj/Windows/Textures/cell.mgcontent
TestLighting/Content/obj/Windows/Textures/cell_normal.mgcontent
TestLighting/Content/obj/Windows/Textures/HOUSE.mgcontent
TestLighting/Content/obj/Windows/Textures/HOUSE_NORMALMAP_KRITA.mgcontent
TestLighting/Content/obj/Windows/Textures/ROCKS.mgcontent
TestLighting/Content/obj/Windows/Textures/ROCKS_NORMALMAP_KRITA.mgcontent
TestLighting/Content/obj/Windows/Textures/ROCKS_NORMALMAP_PS.mgcontent
TestLighting/Content/obj/Windows/Textures/WALL.mgcontent
TestLighting/Content/obj/Windows/Textures/WALL_NORMALMAP_KRITA.mgcontent
TestLighting/Content/obj/Windows/Textures/WALL_NORMALMAP_PS.mgcontent
TestLighting/Content/Shaders/Lighting.fx
TestLighting/Content/Shaders/Lighting2.fx
TestLighting/Content/Textures/cell.png
TestLighting/Content/Textures/cell_normal.png
TestLighting/Content/Textures/HOUSE.png
TestLighting/Content/Textures/HOUSE_NORMALMAP_KRITA.png
TestLighting/Content/Textures/HOUSE_NORMALMAP_PS.png
TestLighting/Content/Textures/ROCKS.png
TestLighting/Content/Textures/ROCKS_NORMALMAP_KRITA.png
TestLighting/Content/Textures/ROCKS_NORMALMAP_PS.png
TestLighting/Content/Textures/WALL.jpg
TestLighting/Content/Textures/WALL_NORMALMAP_KRITA.jpg
TestLighting/Content/Textures/WALL_NORMALMAP_PS.jpg
